body {
    background-color: lightgray;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

.members-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.member-card {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.member-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 20%;
}

.member-info {
    margin-bottom: 10px;
}

.member-id
{
   
    font-weight: lighter;
    font-size: x-small;
   
}

.member-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.blood-group {
    font-style: italic;
}

.institute {
    color: #666;
}

.phone-number {
    color: #333;
    font-weight: bold;
    
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}


/* ... Existing CSS ... */

/* ... Existing CSS ... */

.member-request-button-container {
    text-align: right;
    margin-top: 10px; /* Add some margin to separate it from the search section */
}

.member-request-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}


#search-button{
    padding: 10px;
    background-color: #529140;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #265e17;
}

select.select_btn {
    background-color: white;
    color: black;
    border-color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    line-height: 1.5;
  }