body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.logo img {
    height: 100px;
    
}

.logo{
    padding-top: 10px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.nav-links a:hover {
    color: #aaa;
}
