
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background-color: #f0f0f0;
  }

header {
    background-color: #333;
    height: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.logo img {
    height: 100px;
    
}

.logo{
    padding-top: 30px;
    /* padding-bottom: -10px; */
   
}


.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.nav-links a:hover {
    color: #aaa;
}


